/* MMM-Network-Info.css */

.MMM-Network-Info .label {
  padding-right: 15px;
  font-weight: bold;
  text-align: left; /* This ensures the labels are left-aligned */
}

.MMM-Network-Info .value {
  text-align: right;
}

.MMM-Network-Info table {
  width: 100%;
  border-collapse: collapse;
}
