/* MMM-Network-Info.css */

.MMM-Network-Info-wrapper {
  display: flex;
  gap: 30px; /* Adjust the space between the two tables */
}

.MMM-Network-Info .label {
  padding-right: 15px;
  font-weight: bold;
  text-align: left;
}

.MMM-Network-Info .value {
  text-align: right;
}

.MMM-Network-Info table {
  width: 100%;
  border-collapse: collapse;
}

/* --- Device Table Specific Styling --- */

.MMM-Network-Info .device-table th, 
.MMM-Network-Info .device-table td {
  text-align: left;
  padding-right: 15px;
}

.MMM-Network-Info .device-table th {
  padding-bottom: 5px;
  border-bottom: 1px solid #666;
  font-weight: bold;
}

.MMM-Network-Info .device-table td {
  padding-top: 2px;
}

.MMM-Network-Info .device-table th:last-child,
.MMM-Network-Info .device-table td:last-child {
  text-align: right;
  padding-right: 0;
}

/* --- Styling for special hostnames --- */
.MMM-Network-Info .gateway,
.MMM-Network-Info .unknown {
    font-weight: bold;
}

.MMM-Network-Info .gateway {
    color: #2ECC71; /* Green */
}

.MMM-Network-Info .unknown {
    color: #E74C3C; /* Red */
}
